<!DOCTYPE html>
    <head>
        <title>CITOPE!!!</title>
        <meta charset="utf-8"/>
        <link rel="icon" href="/favicon.ico">
    </head>
    <body>
    {% include '::analytics.html.twig' %}
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/main.css') }}" />
    {{  render(controller('FrontendBundle:Default:ddp')) }}
        {% block content %}{% endblock content %}
    </body>
</html>
