<!DOCTYPE html>
    <head>
        <title>CITOPE!!!</title>
        <meta charset="utf-8"/>
    </head>
    <body>
    {% include '::analytics.html.twig' %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />

        {% block content %}{% endblock content %}
    </body>
</html>
