<div class="bars-container">

    <div class="home-bar-top">

        <a href="/">
            <img src="{{ asset('img/citope-logo.png') }}"/>
        </a>
        <ul>
            <li class="hvr-bounce-to-right">
                <a href="/">Jompeich</a>
            </li>
            <li class="hvr-bounce-to-right">
                <a href="/boobs">boobs</a>
            </li>
            <li class="hvr-bounce-to-right">
                <a href="/wam">güam</a>
            </li>
            <li class="hvr-bounce-to-right">
                <a href="/niggas">niggas</a>
            </li>
            <li class="hvr-bounce-to-right">
                <a href="/rabo-spinner">rabo spinner</a>
            </li>
        </ul>
    </div>
    <div class="purga-bar-top">
        <div class="purga">
            han pasado
            <span>{{ days_after_purga }}</span> días desde la última purga. Congrats por no estar despedid@!
        </div>
    </div>
</div>
