{% extends '::layout.html.twig' %}

{% block content %}

    {% set mediaSize = 'boobs_small' %}


    {% for image in images %}
        {% if category == 'wam' or category == 'the-inbounder' %}
            {% set sizes = ['small','small2','small3','small4','small5','big','large'] %}
            {% set mediaSize = random(sizes) %}
        {% endif %}
        <img alt="boobs" src="{{ image | imagine_filter('boobs_small') }}"/>
    {% endfor %}
{#{{ image | imagine_filter('boobs_small') }}#}
    <div>
        <img class="myRabo" src="{{ asset('media/chuck_approves.gif') }}">
    </div>

{% endblock %}
