{% extends '::layout.html.twig' %}

{% block content %}
<div class="body-content">

    <div>
        {% for i in 1..100 %}
            <img class="rabo-spinner" src="{{ asset('media/nigga.png') }}">
        {% endfor %}
    </div>

</div>

{% endblock %}
