{% extends '::layout.html.twig' %}

{% block content %}
    {% for image in images %}
        <a href="{% path image , 'reference' %}"><img alt="boobs" src="{% path image , 'reference' %}"/></a>
    {% endfor %}
{% endblock %}
